<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006796542210-l0pj4ov46kmvgvlot7q6khi004dlm4kp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006796542210-l0pj4ov46kmvgvlot7q6khi004dlm4kp</string>
	<key>API_KEY</key>
	<string>AIzaSyDhFahdU2yK0IpUq8KVX1dbt6tluxrSCtU</string>
	<key>GCM_SENDER_ID</key>
	<string>1006796542210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.youthfuttergroup.viewProducts</string>
	<key>PROJECT_ID</key>
	<string>products-views</string>
	<key>STORAGE_BUCKET</key>
	<string>products-views.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006796542210:ios:6df98b1ccaf1b59035721b</string>
</dict>
</plist>